In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Hotel_Reviews.csv')
df

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677

In [3]:
df.describe()

,Additional_Number_of_Scoring,Average_Score,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,lat,lng
count,515738.000000,515738.000000,515738.000000,515738.000000,515738.000000,515738.000000,515738.000000,512470.000000,512470.000000
mean,498.081836,8.397487,18.539450,2743.743944,17.776458,7.166001,8.395077,49.442439,2.823803
std,500.538467,0.548048,29.690831,2317.464868,21.804185,11.040228,1.637856,3.466325,4.579425
min,1.000000,5.200000,0.000000,43.000000,0.000000,1.000000,2.500000,41.328376,-0.369758
25%,169.000000,8.100000,2.000000,1161.000000,5.000000,1.000000,7.500000,48.214662,-0.143372
50%,341.000000,8.400000,9.000000,2134.000000,11.000000,3.000000,8.800000,51.499981,0.010607
75%,660.000000,8.800000,23.000000,3613.000000,22.000000,8.000000,9.600000,51.516288,4.834443
max,2682.000000,9.800000,408.000000,16670.000000,395.000000,355.000000,10.000000,52.400181,16.429233

In [4]:
hotel = df[['Hotel_Name','Review_Date','Reviewer_Nationality','Total_Number_of_Reviews','Negative_Review','Review_Total_Negative_Word_Counts','Positive_Review','Review_Total_Positive_Word_Counts','Total_Number_of_Reviews_Reviewer_Has_Given','Reviewer_Score','Average_Score','Tags']]
hotel

,Hotel_Name,Review_Date,Reviewer_Nationality,Total_Number_of_Reviews,Negative_Review,Review_Total_Negative_Word_Counts,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Average_Score,Tags
0,Hotel Arena,8/3/2017,Russia,1403,I am so angry that i made this post available...,397,Only the park outside of the hotel was beauti...,11,7,2.9,7.7,"[' Leisure trip ', ' Couple ', ' Duplex Double..."
1,Hotel Arena,8/3/2017,Ireland,1403,No Negative,0,No real complaints the hotel was great great ...,105,7,7.5,7.7,"[' Leisure trip ', ' Couple ', ' Duplex Double..."
2,Hotel Arena,7/31/2017,Australia,1403,Rooms are nice but for elderly a bit difficul...,42,Location was good and staff were ok It is cut...,21,9,7.1,7.7,"[' Leisure trip ', ' Family with young childre..."
3,Hotel Arena,7/31/2017,United Kingdom,1403,My room was dirty and I was afraid to walk ba...,210,Great location in nice surroundings the bar a...,26,1,3.8,7.7,"[' Leisure trip ', ' Solo traveler ', ' Duplex..."
4,Hotel Arena,7/24/2017,New Zealand,1403,You When I booked with your company on line y...,140,Amazing location and building Romantic setting,8,3,6.7,7.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St..."
...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Atlantis Hotel Vienna,8/30/2015,Kuwait,2823,no trolly or staff to help you take the lugga...,14,location,2,8,7.0,8.1,"[' Leisure trip ', ' Family with older childre..."
515734,Atlantis Hotel Vienna,8/22/2015,Estonia,2823,The hotel looks like 3 but surely not 4,11,Breakfast was ok and we got earlier check in,11,12,5.8,8.1,"[' Leisure trip ', ' Family with young childre..."
515735,Atlantis Hotel Vienna,8/19/2015,Egypt,2823,The ac was useless It was a hot week in vienn...,19,No Positive,0,3,2.5,8.1,"[' Leisure trip ', ' Family with older childre..."
515736,Atlantis Hotel Vienna,8/17/2015,Mexico,2823,No Negative,0,The rooms are enormous and really comfortable...,25,3,8.8,8.1,"[' Leisure trip ', ' Group ', ' Standard Tripl..."
515737,Atlantis Hotel Vienna,8/9/2015,Hungary,2823,I was in 3rd floor It didn t work Free Wife,13,staff was very kind,6,1,8.3,8.1,"[' Leisure trip ', ' Family with young childre..."

In [5]:
# var = hotel.loc[df['Total_Number_of_Reviews']>=1000]
var = hotel.drop_duplicates(['Hotel_Name'])
var.index

Int64Index([     0,    405,    971,   2008,   3778,   3813,   3832,   5257,
              7480,   7616,
            ...
            509019, 509232, 510808, 511319, 511920, 511962, 512401, 512545,
            512645, 515413],
           dtype='int64', length=1492)

In [6]:
type(var)

pandas.core.frame.DataFrame

In [7]:
var

,Hotel_Name,Review_Date,Reviewer_Nationality,Total_Number_of_Reviews,Negative_Review,Review_Total_Negative_Word_Counts,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Average_Score,Tags
0,Hotel Arena,8/3/2017,Russia,1403,I am so angry that i made this post available...,397,Only the park outside of the hotel was beauti...,11,7,2.9,7.7,"[' Leisure trip ', ' Couple ', ' Duplex Double..."
405,K K Hotel George,8/3/2017,Ireland,1831,Really nothing negative to say about this hotel,9,Very comfortable beds smart bathroom good sho...,18,2,9.6,8.5,"[' Leisure trip ', ' Group ', ' Classic Twin R..."
971,Apex Temple Court Hotel,8/2/2017,United Kingdom,2619,Difficult to locate the phone to contact rece...,20,They have followed through special requests C...,17,1,9.2,9.2,"[' Leisure trip ', ' Couple ', ' Deluxe King R..."
2008,The Park Grand London Paddington,8/2/2017,Cyprus,4380,The first night we were given an extremely sm...,30,The size of the room,6,6,8.3,7.7,"[' Family with young children ', ' Triple Room..."
3778,Monhotel Lounge SPA,6/29/2017,Brazil,171,No Negative,0,Nice hotel Room was beautiful and bed very co...,231,1,9.2,8.4,"[' Leisure trip ', ' Group ', ' Comfort Double..."
...,...,...,...,...,...,...,...,...,...,...,...,...
511962,Suite Hotel 900 m zur Oper,8/2/2017,Germany,3461,The huge minuses for me were no WiFi in my ro...,85,It was a pleasant stay as i was coming back l...,72,2,9.6,8.0,"[' Business trip ', ' Solo traveler ', ' Budge..."
512401,Hotel Amadeus,6/26/2017,Thailand,717,Nothing,3,The hotel is so very conveniently located jus...,152,13,10.0,8.9,"[' Leisure trip ', ' Solo traveler ', ' Standa..."
512545,The Berkeley,7/8/2017,United Kingdom,232,We only had one night and would have loved to...,14,The Berkeley is the most wonderful place to s...,24,17,10.0,9.1,"[' Leisure trip ', ' Couple ', ' Deluxe King R..."
512645,Holiday Inn London Kensington,8/3/2017,United Kingdom,5945,Issue over check in room wasn t ready bar exp...,22,Nice rooms large dining room,6,1,7.1,7.8,"[' Leisure trip ', ' Couple ', ' Superior Room..."
515413,Atlantis Hotel Vienna,8/2/2017,United Kingdom,2823,Initial receptionist very functional told us ...,41,Most staff very helpful Air con and internet ...,10,4,6.7,8.1,"[' Leisure trip ', ' Family with young childre..."

In [8]:
temp = var.index

In [9]:
type(temp)

pandas.core.indexes.numeric.Int64Index

In [10]:
temp = list(temp)

In [11]:
temp

[0,
 405,
 971,
 2008,
 3778,
 3813,
 3832,
 5257,
 7480,
 7616,
 7743,
 7961,
 8121,
 8301,
 11259,
 11345,
 12352,
 12608,
 12697,
 12921,
 13100,
 13182,
 13290,
 13425,
 14708,
 14829,
 17380,
 17549,
 17720,
 17806,
 17852,
 17922,
 18095,
 18236,
 18396,
 18445,
 18936,
 20090,
 20472,
 20546,
 21147,
 21536,
 21748,
 21814,
 21843,
 21919,
 22010,
 22035,
 22155,
 22189,
 22226,
 22321,
 22434,
 22525,
 22607,
 22874,
 23036,
 24278,
 24583,
 25592,
 26106,
 26350,
 27867,
 28142,
 28314,
 28329,
 28757,
 29619,
 30211,
 30320,
 30653,
 31647,
 32137,
 32668,
 33131,
 33526,
 33659,
 33703,
 33862,
 33939,
 33963,
 34078,
 34311,
 34383,
 34604,
 34660,
 35372,
 35442,
 35804,
 36043,
 36127,
 36359,
 36646,
 36835,
 37337,
 37377,
 37445,
 37532,
 37733,
 37858,
 38139,
 38484,
 39308,
 40089,
 40185,
 40257,
 40419,
 40495,
 40535,
 40609,
 40684,
 40750,
 41518,
 41648,
 41701,
 41831,
 41889,
 42641,
 42900,
 43148,
 43296,
 43609,
 43688,
 43698,
 43733,
 43883,
 44050,
 44652,
 45621,
 46975,
 47016,
 47496,
 48224,
 48780,
 48807,
 49001,
 49081,
 49157,
 49399,
 49514,
 49577,
 50595,
 50673,
 50878,
 51224,
 51319,
 51396,
 51497,
 52131,
 53298,
 53487,
 53756,
 53897,
 53999,
 54026,
 54303,
 54717,
 54745,
 54817,
 54954,
 55054,
 55145,
 55195,
 55265,
 55386,
 55644,
 55811,
 56246,
 57191,
 57597,
 59752,
 59830,
 60909,
 61075,
 61456,
 61644,
 62183,
 62296,
 62436,
 62502,
 62770,
 62874,
 63149,
 63229,
 63316,
 63612,
 63942,
 68731,
 68832,
 68936,
 68998,
 69468,
 69544,
 70551,
 70629,
 70705,
 70751,
 70876,
 70898,
 71274,
 71288,
 71535,
 71594,
 71623,
 71660,
 72164,
 73015,
 73120,
 73225,
 73988,
 74223,
 76390,
 77236,
 77829,
 77985,
 78073,
 78272,
 78350,
 78366,
 78918,
 78980,
 79054,
 79921,
 80470,
 81043,
 81101,
 81158,
 81259,
 81473,
 81543,
 81591,
 81746,
 81837,
 81925,
 82191,
 82333,
 82474,
 82576,
 83097,
 83852,
 84294,
 85168,
 85180,
 85269,
 85479,
 86372,
 87052,
 87125,
 87197,
 88260,
 88644,
 88755,
 89127,
 89538,
 89590,
 89773,
 89870,
 89963,
 89986,
 90029,
 90105,
 90220,
 90316,
 90882,
 90964,
 91019,
 91169,
 91532,
 92589,
 92729,
 93120,
 94181,
 94382,
 95356,
 95811,
 95942,
 96177,
 97694,
 98461,
 99237,
 99327,
 99375,
 99488,
 99525,
 99600,
 100371,
 100530,
 102123,
 102316,
 102541,
 103241,
 103320,
 103488,
 103716,
 103831,
 103896,
 104154,
 104414,
 105873,
 105939,
 105951,
 106075,
 106134,
 106220,
 106372,
 106429,
 106483,
 106685,
 106969,
 107032,
 107747,
 108105,
 108125,
 108317,
 109798,
 110129,
 110997,
 111027,
 111056,
 111114,
 111276,
 111290,
 111389,
 111525,
 111930,
 114558,
 114932,
 115063,
 115103,
 115165,
 116272,
 116738,
 116793,
 116993,
 117112,
 117226,
 117428,
 117485,
 118928,
 119249,
 119277,
 120883,
 121004,
 121069,
 121261,
 121324,
 121613,
 121787,
 121823,
 121850,
 122341,
 122487,
 122500,
 122606,
 122627,
 123017,
 123233,
 124084,
 124401,
 124529,
 124658,
 126805,
 127003,
 127024,
 129312,
 129397,
 129479,
 129718,
 129781,
 129961,
 130080,
 130160,
 130183,
 130667,
 130789,
 132062,
 132128,
 132283,
 132394,
 132428,
 132479,
 132593,
 133257,
 133406,
 133556,
 133715,
 134362,
 134406,
 134477,
 134761,
 135039,
 135430,
 136304,
 136424,
 136479,
 136748,
 136840,
 136903,
 136931,
 137058,
 137169,
 137213,
 137407,
 137449,
 137571,
 137766,
 137817,
 137888,
 138214,
 138360,
 138470,
 138889,
 139629,
 140872,
 143050,
 143306,
 143660,
 143743,
 143781,
 143888,
 143926,
 143975,
 144417,
 145520,
 145816,
 146513,
 146634,
 147195,
 147298,
 147504,
 148617,
 148776,
 149031,
 149098,
 151157,
 151206,
 151416,
 151453,
 151493,
 151703,
 151827,
 151965,
 152041,
 152204,
 152498,
 152582,
 152770,
 153358,
 153617,
 154088,
 154457,
 154810,
 154911,
 155685,
 157216,
 157274,
 157551,
 157644,
 157678,
 157843,
 158063,
 158391,
 158465,
 158947,
 159365,
 159493,
 159876,
 159941,
 159994,
 160073,
 160147,
 160702,
 161412,
 162238,
 162278,
 162798,
 162826,
 162877,
 163170,
 163269,
 163345,
 163568,
 163631,
 163653,
 163825,
 164072,
 164259,
 168515,
 168654,
 168855,
 169744,
 169793,
 170082,
 170205,
 170389,
 170437,
 171202,
 171770,
 174335,
 174563,
 174889,
 175622,
 176047,
 176748,
 176905,
 176935,
 176997,
 177058,
 177175,
 177266,
 177567,
 177657,
 177947,
 178153,
 178253,
 178267,
 178421,
 178724,
 178958,
 179477,
 179623,
 179767,
 180459,
 180537,
 180550,
 182233,
 182575,
 182732,
 183024,
 185094,
 185370,
 185450,
 185602,
 185705,
 185994,
 186442,
 186555,
 186831,
 186892,
 187785,
 188525,
 188607,
 188672,
 189884,
 189904,
 190062,
 190107,
 190367,
 191620,
 191715,
 191756,
 191786,
 191814,
 192504,
 192561,
 193053,
 193088,
 193516,
 193541,
 193679,
 194356,
 194475,
 194506,
 194819,
 195046,
 195168,
 195491,
 195505,
 196472,
 196534,
 196656,
 196788,
 196840,
 197217,
 197916,
 199064,
 199865,
 201116,
 201146,
 201254,
 201665,
 201694,
 201776,
 201809,
 201920,
 202215,
 202331,
 203460,
 203717,
 203844,
 203903,
 204099,
 204423,
 204614,
 205567,
 205669,
 205840,
 206177,
 206452,
 206499,
 206538,
 206624,
 206921,
 207950,
 209267,
 209504,
 209551,
 209824,
 210640,
 210952,
 211177,
 211211,
 211869,
 212179,
 212367,
 212473,
 212739,
 213144,
 213170,
 214716,
 214806,
 214921,
 215311,
 215358,
 215842,
 217108,
 217984,
 218145,
 218169,
 218258,
 218303,
 218428,
 218669,
 219221,
 220059,
 220225,
 220249,
 220440,
 220711,
 220893,
 221052,
 221154,
 221268,
 221503,
 221578,
 221668,
 221759,
 221784,
 221808,
 221866,
 222218,
 222332,
 223241,
 223286,
 223782,
 224921,
 225418,
 225492,
 225672,
 225793,
 226715,
 226912,
 226938,
 227887,
 227932,
 227971,
 227993,
 228012,
 229137,
 229221,
 229326,
 229592,
 230275,
 230360,
 230436,
 231734,
 231863,
 232227,
 232333,
 232697,
 233504,
 233609,
 233744,
 234181,
 234491,
 234572,
 234755,
 234779,
 235882,
 236055,
 239267,
 239443,
 239572,
 239610,
 239690,
 239744,
 239945,
 239980,
 240192,
 240328,
 240391,
 240501,
 241075,
 241169,
 241583,
 241740,
 242168,
 242324,
 243244,
 244063,
 245158,
 245310,
 245325,
 245656,
 245693,
 246497,
 246693,
 246911,
 247132,
 247299,
 247439,
 247559,
 247583,
 247613,
 248346,
 249291,
 249541,
 250064,
 250115,
 250308,
 250321,
 250392,
 250467,
 250479,
 250701,
 250780,
 250886,
 251843,
 252960,
 253051,
 253730,
 254146,
 254312,
 255024,
 255339,
 256082,
 256170,
 256341,
 256518,
 256618,
 256697,
 256757,
 256880,
 257339,
 257570,
 257749,
 257812,
 258070,
 258956,
 258996,
 259281,
 259307,
 259321,
 259475,
 259604,
 259731,
 259851,
 259893,
 260049,
 260102,
 260146,
 260244,
 260324,
 260623,
 260857,
 260928,
 261077,
 262003,
 262214,
 262308,
 262452,
 263954,
 264896,
 264988,
 265062,
 265181,
 265304,
 265323,
 265979,
 266314,
 267114,
 268055,
 268100,
 268230,
 268460,
 268552,
 269113,
 269291,
 270039,
 270116,
 270172,
 270473,
 270811,
 270891,
 271263,
 271542,
 272345,
 272833,
 273131,
 273733,
 273892,
 274963,
 275233,
 275588,
 275602,
 275920,
 276817,
 277091,
 277378,
 277434,
 277579,
 277699,
 277744,
 277850,
 278047,
 278325,
 278418,
 279479,
 279658,
 279688,
 279808,
 280190,
 280315,
 280354,
 280434,
 280541,
 280572,
 280968,
 281807,
 282060,
 282265,
 282411,
 282494,
 282748,
 283258,
 283504,
 283649,
 283712,
 284512,
 284867,
 284912,
 285876,
 286466,
 286961,
 287156,
 287865,
 287935,
 288224,
 289010,
 289099,
 289557,
 290146,
 291408,
 291541,
 291776,
 291931,
 292181,
 292257,
 292450,
 292972,
 293544,
 293560,
 294430,
 294505,
 295331,
 295900,
 297114,
 297159,
 297452,
 297640,
 298235,
 299207,
 299346,
 299896,
 299912,
 299996,
 300194,
 300406,
 300548,
 300953,
 302169,
 302326,
 302838,
 303013,
 303186,
 303413,
 303535,
 303746,
 304080,
 304154,
 304376,
 304609,
 304804,
 304956,
 305162,
 305398,
 305498,
 305675,
 306918,
 308513,
 308683,
 309513,
 309557,
 309843,
 311000,
 312809,
 312955,
 313034,
 313078,
 313645,
 313776,
 314161,
 314264,
 314605,
 314748,
 314819,
 314939,
 315440,
 315554,
 315636,
 316051,
 316447,
 316748,
 318596,
 318744,
 319067,
 319202,
 319530,
 319669,
 320202,
 321349,
 322813,
 323105,
 323215,
 323302,
 323545,
 324004,
 324016,
 324417,
 324569,
 324903,
 325013,
 325890,
 326208,
 326476,
 327202,
 327305,
 327680,
 327773,
 328570,
 329210,
 329495,
 329543,
 329865,
 330024,
 330831,
 331289,
 331422,
 331922,
 332279,
 332619,
 332979,
 334788,
 334961,
 335096,
 335352,
 335562,
 335962,
 336353,
 336647,
 336799,
 337298,
 337782,
 337811,
 337902,
 338328,
 338713,
 338919,
 338980,
 340344,
 340753,
 341304,
 341657,
 341799,
 342039,
 342079,
 342600,
 342849,
 342869,
 343298,
 ...]

In [12]:
for i in range(len(temp)-1):
    temp[i] = temp[i+1] - temp[i]

In [13]:
del temp[len(temp)-1]

In [14]:
# 가장 많이 나온 호텔
max(temp)

4789

In [15]:
temp[186]

4789

In [16]:
var['Hotel_Name'][0]

'Hotel Arena'

In [17]:
names = []

In [18]:
len(df)

515738

In [19]:
names = []
for i in range(len(df)):
    try:
        names.append(var['Hotel_Name'][i])
    except:
        pass

In [20]:
names

['Hotel Arena',
 'K K Hotel George',
 'Apex Temple Court Hotel',
 'The Park Grand London Paddington',
 'Monhotel Lounge SPA',
 'Kube Hotel Ice Bar',
 'The Principal London',
 'Park Plaza County Hall London',
 'One Aldwych',
 'Splendid Etoile',
 'Hotel Trianon Rive Gauche',
 'InterContinental London Park Lane',
 'Novotel Suites Paris Nord 18 me',
 'Grand Royale London Hyde Park',
 'Milestone Hotel Kensington',
 'Crowne Plaza London Kings Cross',
 'Select Hotel',
 'H tel De Vend me',
 'Pullman Paris Centre Bercy',
 'Gardette Park Hotel',
 'Hotel Panache',
 'H tel des Ducs D Anjou',
 'Hotel Scribe Paris Opera by Sofitel',
 'Novotel London West',
 'Haymarket Hotel',
 'Intercontinental London The O2',
 'H tel Juliana Paris',
 'Hotel L Antoine',
 'Belfast',
 'Shangri La Hotel Paris',
 'Mercure Paris Tour Eiffel Pont Mirabeau',
 'Knightsbridge Hotel',
 'The London EDITION',
 'The Cranley Hotel',
 'Hotel Le 10 BIS',
 'The Nadler Soho',
 'Grange St Paul s Hotel',
 'The Ampersand Hotel',
 'Covent Garden Hotel',
 'The Nadler Victoria',
 'Novotel London Tower Bridge',
 'Crowne Plaza Paris R publique',
 'Le Metropolitan a Tribute Portfolio Hotel',
 'Atala Champs Elys es',
 'H tel de Jos phine BONAPARTE',
 'Maison Souquet',
 'Hotel Tour d Auvergne Opera',
 'Le Senat',
 'Windsor Opera',
 'Holiday Inn Paris Montparnasse Pasteur',
 'H tel Keppler',
 'Les Plumes Hotel',
 'Hotel des Tuileries Relais du Silence',
 'Bradford Elys es Astotel',
 'W London Leicester Square',
 'The Victoria',
 'Pullman London St Pancras',
 'Crowne Plaza London Kensington',
 'Doubletree by Hilton London Kensington',
 'Ace Hotel London Shoreditch',
 'Staybridge Suites London Vauxhall',
 'The Grosvenor',
 'The Park Tower Knightsbridge a Luxury Collection Hotel',
 'Amp re',
 'Melia Paris Champs Elys es',
 'Le Parisis Paris Tour Eiffel',
 'Thistle Kensington Gardens',
 'Park Plaza Sherlock Holmes London',
 'Hilton Paris Opera',
 'The Kensington Hotel',
 'Holiday Inn London Stratford City',
 'Staybridge Suites London Stratford',
 'Shepherd s Bush Boutique Hotel',
 'My Bloomsbury',
 'Holiday Inn Paris Gare de Lyon Bastille',
 'H tel Chaplain Paris Rive Gauche',
 'H tel Regina Op ra Grands Boulevards',
 '11 Cadogan Gardens',
 'The Wellesley Knightsbridge a Luxury Collection Hotel London',
 'Hotel Astor Saint Honor ',
 'Op ra Marigny',
 'H tel Diva Opera',
 'Le Marcel',
 'H tel Duo',
 'H tel Le Marianne',
 'The Rembrandt',
 'Hotel Eden',
 'H tel de la Bourdonnais',
 'Ashburn Hotel',
 'Marlin Waterloo',
 'Best Western Premier Marais Grands Boulevards',
 'Novotel London Waterloo',
 'The Athenaeum',
 'Park International Hotel',
 'Lansbury Heritage Hotel',
 'Le Dokhan s a Tribute Portfolio Hotel',
 'Le Relais Madeleine',
 'Terrass H tel Montmartre by MH',
 'Millennium Hotel Paris Opera',
 'Waldorf Madeleine',
 'Batty Langley s',
 'Best Western Mornington Hotel Hyde Park',
 'Arbor City',
 'Hotel La Lanterne',
 'H tel Square Louvois',
 'Hotel Marignan Champs Elys es',
 'Le Grey Hotel',
 'Le Pavillon des Lettres',
 'H tel San R gis',
 'Garden Elys e',
 'Hotel Louvre Montana',
 'Ambassadors Bloomsbury',
 'Le 123 S bastopol Astotel',
 'Le 123 Elysees Astotel',
 'The Bryson Hotel',
 'Best Western Mercedes Arc de Triomphe',
 'London Marriott Hotel Regents Park',
 'Hilton London Hyde Park',
 'Staunton Hotel B B',
 '1K Hotel',
 'H tel Westminster',
 'L H tel',
 'Mercure Paris Porte d Orleans',
 'Maxim Op ra',
 'Le Marceau Bastille',
 'Hotel Odeon Saint Germain',
 'Mercure London Bloomsbury Hotel',
 'The Chamberlain',
 'Radisson Blu Edwardian Grafton',
 'La Villa Haussmann',
 'London Marriott Hotel Marble Arch',
 'Saint Georges Hotel',
 'Park Grand London Lancaster Gate',
 'The Henrietta Hotel',
 'Sofitel Paris Arc De Triomphe',
 'Hotel Mercure La Sorbonne Saint Germain des Pr s',
 'La Tremoille Paris',
 'Hotel Op ra Richepanse',
 'H tel Duc De St Simon',
 'Hotel Le Six',
 'The Bailey s Hotel London',
 'London Marriott Hotel Park Lane',
 'Best Western Premier Louvre Saint Honor ',
 'Hotel Indigo London Tower Hill',
 'Windermere Hotel',
 'La Villa Maillot',
 'H tel Madison by MH',
 'Mercure London Paddington Hotel',
 'Hilton London Paddington',
 'London Marriott Hotel Kensington',
 'Kensington House Hotel',
 'Charlotte Street Hotel',
 'The Goring',
 'Novotel Paris 14 Porte d Orl ans',
 'The Pelham Starhotels Collezione',
 'The Montague On The Gardens',
 'Ritz Paris',
 'Hotel Les Rives de Notre Dame',
 'Sofitel Paris Le Faubourg',
 'Bassano',
 'Best Western Premier Le Swann',
 'H tel des Academies et des Arts',
 'Hotel Lumen Paris Louvre',
 'Le Marquis Eiffel',
 'COQ Hotel Paris',
 'Mill sime H tel',
 'The Leonard Hotel',
 'DoubleTree by Hilton London Hyde Park',
 'The Ritz London',
 'M by Montcalm Shoreditch London Tech City',
 'Legend Saint Germain by Elegancia',
 'Clayton Crown Hotel London',
 'Au Manoir Saint Germain',
 'St Paul s Hotel',
 'Best Western S vres Montparnasse',
 'The Bloomsbury Hotel',
 'Nolinski Paris',
 'Le Tourville Eiffel',
 'Paris Marriott Opera Ambassador Hotel',
 'Hotel Indigo London Paddington',
 'Idol Hotel',
 'H tel California Champs Elys es',
 'Hotel de Seze',
 'Number Sixteen',
 'Hotel Xenia Autograph Collection',
 'H tel Hor',
 'Britannia International Hotel Canary Wharf',
 'Best Western Op ra Batignolles',
 'H tel de Banville',
 'Villa Eugenie',
 'Hilton London Euston',
 'Egerton House',
 'Millennium Hotel London Knightsbridge',
 'H tel Raphael',
 'Le 7 Eiffel Hotel',
 'Paris Marriott Rive Gauche Hotel',
 'Hotel La Place',
 'Hotel Le Pera',
 'H tel Bedford',
 'Drawing Hotel',
 'Novotel Paris Centre Gare Montparnasse',
 'D clic Hotel',
 'Villa d Estr es',
 'Bulgari Hotel London',
 'Novotel London Greenwich',
 'Park Avenue Baker Street',
 'Hotel Plaza Elys es',
 'Hotel Champs Elys es Friedland by Happyculture',
 'Malmaison London',
 'The Park City Grand Plaza Kensington Hotel',
 'Park Plaza London Riverbank',
 'Pullman Paris Tour Eiffel',
 'Danubius Hotel Regents Park',
 'Hotel Bachaumont',
 'Franklin Roosevelt',
 'H tel Horset Op ra Best Western Premier Collection',
 'Best Western Paris Gare Saint Lazare',
 'Splendide Royal Paris',
 'The Rockwell',
 'The LaLit London',
 'Mercure Paris Alesia',
 'Courthouse Hotel London',
 'Best Western The Boltons Hotel London Kensington',
 'Radisson Blu Edwardian Sussex',
 'Hotel The Peninsula Paris',
 'Le Narcisse Blanc Spa',
 'The Pillar Hotel',
 'Crowne Plaza London The City',
 'H tel Les Dames du Panth on',
 'H tel Victor Hugo Paris Kl ber',
 'Grand Hotel Saint Michel',
 'Hotel Maison Ath n e',
 'Relais Du Louvre',
 'Pullman Paris Montparnasse',
 'Best Western Ducs de Bourgogne',
 'Best Western Premier Op ra Opal',
 'Amarante Champs Elys es',
 'The Gore Hotel Starhotels Collezione',
 'The Hoxton Holborn',
 'Mercure London Kensington Hotel',
 'Royal Garden Hotel',
 'Boundary Rooms Suites',
 'H tel Ad le Jules',
 'Grange White Hall Hotel',
 'Hilton London Bankside',
 'DoubleTree by Hilton London Ealing',
 'Molitor Paris MGallery by Sofitel',
 'First Hotel Paris Tour Eiffel',
 'DoubleTree by Hilton London Victoria',
 'St Ermin s Hotel Autograph Collection',
 'Montagu Place Hotel',
 'H tel Regina',
 'Mercure Paris Gare De Lyon TGV',
 'Villa Montparnasse',
 'H tel des Champs Elys es',
 'Lyric H tel Paris',
 'Hotel Design Secret de Paris',
 'Hotel Dupond Smith',
 'Okko Hotels Paris Porte De Versailles',
 'La Villa Royale',
 'Hotel Indigo Paris Opera',
 'Villa Opera Drouot',
 'Novotel Paris Gare De Lyon',
 'H tel Belloy Saint Germain By Happyculture',
 'Hotel Louis 2',
 'InterContinental Paris Le Grand',
 'The Trafalgar Hilton',
 'Park Lane Mews Hotel',
 'Old Ship Inn Hackney',
 'The Drayton Court Hotel',
 'The Montcalm Marble Arch',
 'The Colonnade',
 'The Royal Horseguards',
 'Grange Fitzrovia Hotel',
 'H tel Le M',
 'The Hari London',
 'citizenM London Bankside',
 'Radisson Blu Edwardian Mercer Street',
 'Twenty Nevern Square Hotel',
 'The Abbey Court Notting Hill',
 'Seven Hotel',
 'Platine Hotel Spa',
 'Mercure Paris Gare Montparnasse',
 'Mercure Paris Notre Dame Saint Germain des Pr s',
 'Mercure Paris Centre Tour Eiffel',
 'Banke H tel',
 'Mondrian London',
 'Karma Sanctum Soho Hotel',
 'NH London Kensington',
 'Saint James Albany Paris Hotel Spa',
 'Mercure Paris Montparnasse Raspail',
 'Golden Tulip Bercy Gare de Lyon 209',
 'Montfleuri',
 'Simply Rooms Suites',
 'Mercure Paris Pigalle Sacre Coeur',
 'The Academy',
 'Le Meridien Piccadilly',
 'Mercure Paris Terminus Nord',
 'H tel F licien by Elegancia',
 'Le Lavoisier',
 'H tel Moli re',
 'Vice Versa',
 'The Kings Head Hotel',
 'H tel Etoile Saint Honor by Happyculture',
 'Hotel Le petit Paris',
 'Mercure Paris 19 Philharmonie La Villette',
 'Royal Garden Champs Elysees',
 'H tel Brighton Esprit de France',
 'H tel Paris Bastille Boutet MGallery by Sofitel',
 'Montcalm Royal London House City of London',
 'Conrad London St James',
 'L Edmond H tel',
 'Novotel Suites Paris Montreuil Vincennes',
 'London Marriott Hotel West India Quay',
 'London Hilton on Park Lane',
 'Radisson Blu Portman Hotel London',
 'H tel France d Antin Op ra',
 'Hotel Stendhal Place Vend me Paris MGallery by Sofitel',
 'H tel De Buci by MH',
 'Hotel Parc Saint Severin Esprit de France',
 'Hotel Chavanel',
 'The Portobello Hotel',
 'Royal Saint Honore',
 'Landmark London',
 'Hilton London Metropole',
 'Best Western Seraphine Kensington Olympia',
 'Portobello House',
 'Le Meurice',
 'Maison Albar Hotel Paris C line',
 'Henry VIII',
 'Goodenough Club',
 'Holiday Inn Paris Montmartre',
 'Hotel Pulitzer Paris',
 'Hotel Vignon',
 'London Suites',
 'H tel Aiglon Esprit de France',
 'Sansi Diputacio',
 'Park Plaza Victoria London',
 'Grange Beauchamp Hotel',
 'The Franklin Hotel Starhotels Collezione',
 'Club Quarters Hotel St Paul s',
 'Hotel Elys es Bassano',
 'Hotel Opera Cadet',
 'Phileas Hotel',
 'Holiday Inn Paris Elys es',
 'H tel Beauchamps',
 'Best Western Nouvel Orl ans Montparnasse',
 'Hotel Plaza Athenee Paris',
 'Mercure Paris Place d Italie',
 'The Nadler Kensington',
 'H tel Da Vinci Spa',
 'XO Hotel',
 'H tel Vernet',
 'Mandarin Oriental Paris',
 'Rosewood London',
 'Novotel Paris Vaugirard Montparnasse',
 'Mayflower Hotel Apartments',
 'Caesar Hotel',
 'Hotel Xanadu',
 'Draycott Hotel',
 'DoubleTree by Hilton London Docklands Riverside',
 'Bentley London',
 'Mercure Paris Arc de Triomphe Etoile',
 'Park Grand Paddington Court',
 'The One Barcelona GL',
 'The Zetter Townhouse Marylebone',
 'Forest Hill Paris la Villette',
 'The Levin Hotel',
 'The Tophams Hotel',
 'Le Pavillon de la Reine Spa',
 'Hidden Hotel by Elegancia',
 'Le Roch Hotel Spa',
 'H10 London Waterloo',
 'San Domenico House',
 'Bloomsbury Palace Hotel',
 'Hotel du Petit Moulin',
 'Hotel Atmospheres',
 'H tel La Comtesse by Elegancia',
 'Hotel Astra Opera Astotel',
 'Hotel La Villa Saint Germain Des Pr s',
 'Grand Pigalle Hotel',
 'Innkeeper s Lodge London Greenwich',
 'Morgan Mees',
 'Hotel Duminy Vendome',
 'Maison Albar H tel Paris Champs Elys es ex Mac Mahon ',
 'Holiday Inn London Mayfair',
 'H tel Recamier',
 'TRYP Paris Op ra',
 'Royal Saint Michel',
 'Paddington Court Executive Rooms',
 'Novotel London Paddington',
 'Hyatt Regency Paris Etoile',
 'Relais Saint Jacques',
 'Hotel Cambon',
 'Mercure Paris Montmartre Sacr Coeur',
 'Relais Christine',
 'Les Matins de Paris Spa',
 'Hotel Square',
 'H tel Bourgogne Montana by MH',
 'The Westin Paris Vend me',
 'Hotel Montalembert',
 'H tel Mathis Elys es',
 'Le Saint Hotel Paris',
 'Hotel Le Squara',
 'L Hotel Pergol se Paris',
 'H tel Mayfair Paris',
 'Best Western Plus de Neuville Arc de Triomphe',
 'South Place Hotel',
 'The Royal Park Hotel',
 'Holiday Inn Paris Op ra Grands Boulevards',
 'Henley House Hotel',
 'Holiday Inn London Camden Lock',
 'DoubleTree by Hilton London Westminster',
 'Blakemore Hyde Park',
 'Hyatt Regency London The Churchill',
 'Rathbone',
 'Le Belmont Champs Elys es',
 'Duret',
 'H tel Elysees Mermoz',
 'Majestic Hotel Spa',
 'BoB Hotel by Elegancia',
 'Comfort Inn Suites Kings Cross St Pancras',
 'The Queens Gate Hotel',
 'Grange Langham Court Hotel',
 'Radisson Blu Edwardian Hampshire',
 'Four Seasons Hotel George V Paris',
 'The Marble Arch London',
 'H tel Fabric',
 'H tel du Minist re',
 'Shangri La Hotel at The Shard London',
 'Hotel Les Bulles De Paris',
 'Acad mie H tel Saint Germain',
 'Plaza Tour Eiffel',
 'Park Grand London Kensington',
 'Rocco Forte Brown s Hotel',
 'Royal Hotel Champs Elys es',
 'Best Western Allegro Nation',
 'Prince de Galles a Luxury Collection hotel Paris',
 'The Beaufort',
 'H tel La Parizienne by Elegancia',
 'Madeleine Plaza',
 'Blakes Hotel',
 'Castille Paris Starhotels Collezione',
 'H tel D Aubusson',
 'Hotel Oscar',
 'Best Western Bretagne Montparnasse',
 'The Westbridge Hotel',
 'Courthouse Hotel Shoreditch',
 'ME London by Melia',
 'Grange Clarendon Hotel',
 'Hotel Indigo London Kensington',
 'Novotel Paris 17',
 'Rafayel Hotel Spa',
 'Norfolk Towers Paddington',
 'Artus Hotel by MH',
 'Best Western Premier Kapital Op ra',
 'Timhotel Op ra Blanche Fontaine',
 'H tel Amastan Paris',
 'H tel Gustave',
 'Best Western Maitrise Hotel Edgware Road',
 'Georgian House Hotel',
 'Best Western Tour Eiffel Invalides',
 'The Chesterfield Mayfair',
 'My Chelsea',
 'Eiffel Trocad ro',
 'Hotel Saint Petersbourg Opera',
 'H tel Champs lys es Plaza',
 'Melia Paris Tour Eiffel',
 'Timhotel Op ra Grands Magasins',
 'Dukes Hotel',
 'Radisson Blu Edwardian Berkshire',
 'Pestana Chelsea Bridge Hotel Spa',
 'Arbor Hyde Park',
 'Mercure Paris Porte De Versailles Expo',
 'Great St Helen Hotel',
 'Hotel Whistler',
 'Hotel Georgette',
 'Westside Arc de Triomphe Hotel',
 'Etoile Saint Ferdinand',
 'H tel Saint Marc',
 'United Lodge Hotel and Apartments',
 'H tel Le Walt',
 'H tel Le Royal Monceau Raffles Paris',
 'Eccleston Square Hotel',
 'Nottingham Place Hotel',
 'Hotel Claridge Paris',
 'Strand Palace Hotel',
 'H tel L Echiquier Op ra Paris MGallery by Sofitel',
 'H tel De Castiglione',
 'Hilton London Olympia',
 'Grange Buckingham Hotel',
 'The Cleveland',
 'Dorset Square Hotel',
 'Edouard 7 Paris Op ra',
 'Renaissance Paris Arc de Triomphe Hotel',
 'Rubens At The Palace',
 'every hotel Piccadilly',
 'Millennium Gloucester Hotel London',
 'Novotel Suites Paris Expo Porte de Versailles',
 'K K H tel Cayr Saint Germain des Pr s',
 'Fielding Hotel',
 'DoubleTree by Hilton Hotel London Marble Arch',
 'Holiday Inn London West',
 'The Soho Hotel',
 'Le Grand H tel de Normandie',
 'Monsieur Cadet Hotel Spa Ex Meyerhold Spa ',
 'H tel de La Tamise Esprit de France',
 'Buddha Bar Hotel Paris',
 'Le A',
 'Holiday Inn Paris Notre Dame',
 'Mercure Paris Opera Garnier',
 'Maison Albar Hotel Paris Op ra Diamond',
 'Grand H tel Du Palais Royal',
 'Best Western Aulivia Op ra',
 'Renaissance Paris Vendome Hotel',
 'Hotel Park Lane Paris',
 'Little Palace Hotel',
 'Napoleon Paris',
 'Andaz London Liverpool Street',
 'Novotel London Canary Wharf',
 'H tel de Lille',
 'H tel Concorde Montparnasse',
 'Suites H tel Helzear Montparnasse',
 'Renaissance Paris Republique Hotel Spa',
 'citizenM Tower of London',
 'Chiswick Rooms',
 'Claridge s',
 'La Suite West Hyde Park',
 'St James Court A Taj Hotel London',
 'Elys es R gencia',
 'H tel De Sers Champs Elys es Paris',
 'Hotel le Lapin Blanc',
 '41',
 'Shaftesbury Suites London Marble Arch',
 'Grange Strathmore Hotel',
 'H tel R de Paris Boutique Hotel',
 'Villa Panth on',
 'Trinit Haussmann',
 'The RE London Shoreditch',
 'London City Suites',
 'H tel Crayon Rouge by Elegancia',
 'Mercure Paris Opera Grands Boulevards',
 'St George s Hotel Wembley',
 'Hotel Le Saint Gregoire',
 'Le Mathurin Hotel Spa',
 'H tel Saint Paul Rive Gauche',
 'The Justin James Hotel',
 'Millennium Hotel London Mayfair',
 'H tel de Varenne',
 'A La Villa Madame',
 'The Curtain',
 '45 Park Lane Dorchester Collection',
 'Grange Tower Bridge Hotel',
 'Le Tsuba Hotel',
 'St Martins Lane A Morgans Original',
 'H tel Barri re Le Fouquet s',
 'Novotel London Blackfriars',
 'Hotel Villa Lafayette Paris IX',
 'Canary Riverside Plaza Hotel',
 'The Marylebone Hotel',
 'L Empire Paris',
 'The Zetter Townhouse Clerkenwell',
 'The Whitechapel',
 'Suites H tel Helzear Champs Elys es',
 'St George Hotel',
 'Best Western Premier Op ra Faubourg Ex Hotel Jules ',
 'Pershing Hall',
 'The Premier Notting Hill',
 'H tel Pont Royal',
 'Le G n ral H tel',
 'H tel Th r se',
 'Best Western Premier Trocadero La Tour',
 'Holiday Inn London Whitechapel',
 'Washington Mayfair Hotel',
 'Radisson Blu Edwardian New Providence Wharf',
 'Hilton London Tower Bridge',
 'Novotel London Wembley',
 'Le Relais M dicis',
 'Les Jardins De La Villa Spa',
 'Warwick Paris Former Warwick Champs Elysees ',
 'Park Hyatt Paris Vendome',
 'My Home In Paris',
 'Mercure Paris Op ra Faubourg Montmartre',
 'Best Western Plus Elys e Secret',
 'Villa Beaumarchais',
 'H tel Mansart Esprit de France',
 'Holiday Inn Paris Gare de l Est',
 'Le Cinq Codet',
 'La Maison Favart',
 'Le Pradey',
 'Threadneedles Autograph Collection',
 'Sanderson A Morgans Hotel',
 'The Arch London',
 'Commodore Hotel',
 'Golden Tulip Washington Opera',
 'Residence Henri IV',
 'Hotel du Collectionneur Arc de Triomphe',
 'The Westbourne Hyde Park',
 'Hotel Le Mareuil',
 'Mercure Paris Champs Elys es',
 'Best Western Le 18 Paris',
 'The Lodge Hotel Putney',
 'Shaftesbury Hyde Park International',
 'The Montcalm At Brewery London City',
 'H tel Powers',
 'Villa Lut ce Port Royal',
 'Oceania Paris Porte De Versailles',
 'BEST WESTERN Maitrise Hotel Maida Vale',
 'Novotel London City South',
 'The Dorchester Dorchester Collection',
 'Mercure Paris Bastille Marais',
 'Hilton London Angel Islington',
 'Fifty Four Boutique Hotel',
 'Chateau Frontenac',
 'H tel Du Jeu De Paume',
 'The Sumner Hotel',
 'W12 Rooms',
 'Renaissance Paris Le Parc Trocadero Hotel',
 'Shaftesbury Premier London Paddington',
 'Hotel Carlton s Montmartre',
 'Hotel Monge',
 'Mimi s Hotel Soho',
 'Victoires Opera',
 'Holiday Inn London Oxford Circus',
 'Dorsett Shepherds Bush',
 'New Linden Hotel',
 'Le Burgundy Paris',
 'Hotel Sezz Paris',
 'Hotel Montaigne',
 'Hotel Royal Elys es',
 'Mercure Paris Bercy Biblioth que',
 'Hazlitt s',
 'Park Plaza London Waterloo',
 'citizenM London Shoreditch',
 'H tel Balzac',
 'Victoria Palace Hotel',
 'Hotel Eug ne en Ville',
 'Newhotel Roblin',
 'Le Relais Montmartre',
 'Amarante Beau Manoir',
 'Hotel Maison FL',
 'Balmoral Champs Elys es',
 'The Chess Hotel',
 'AC Hotel Paris Porte Maillot by Marriott',
 'B Montmartre',
 'H tel Regent s Garden',
 'Mercure Paris 15 Porte de Versailles',
 'Hotel Le Placide Saint Germain Des Pr s',
 'Hotel VIU Milan',
 'Sofitel London St James',
 'Baglioni Hotel London The Leading Hotels of the World',
 'DoubleTree by Hilton London Islington',
 'Nell Hotel Suites',
 'Rydges Kensington Hotel',
 'Club Quarters Hotel Lincoln s Inn Fields',
 'Novotel Paris Centre Tour Eiffel',
 'Best Western Plus 61 Paris Nation Hotel',
 'Hotel Monsieur',
 'Hotel Saint Dominique',
 'Clayton Hotel Chiswick',
 'Park Plaza London Park Royal',
 'Hotel Malte Astotel',
 'Best Western Palm Hotel',
 'InterContinental Paris Avenue Marceau',
 'Mercure Tour Eiffel Grenelle',
 'Mercure Paris Bastille Saint Antoine',
 'Boutique H tel Konfidentiel',
 'The Piccadilly London West End',
 'R Kipling by Happyculture',
 'Hotel Des Saints Peres Esprit de France',
 'Best Western Hotel Montmartre Sacr Coeur',
 'Kingsway Hall Hotel',
 'Mandarin Oriental Hyde Park London',
 'H tel Jos phine by Happyculture',
 'Radisson Blu Edwardian Vanderbilt',
 'Hotel Le Chat Noir',
 'Hotel Cafe Royal',
 'Mercure Vaugirard Paris Porte De Versailles',
 'Grange Rochester Hotel',
 'Gainsborough Hotel',
 'H tel Bel Ami',
 'St James Hotel Club Mayfair',
 'Apex London Wall Hotel',
 'Seraphine Kensington Gardens Hotel',
 'Hotel de Nell',
 '9Hotel Republique',
 'Goralska R sidences H tel Paris Bastille',
 'Club Quarters Hotel Gracechurch',
 'Grange Blooms Hotel',
 'DoubleTree by Hilton Hotel London Tower of London',
 'H tel Baume',

In [21]:
len(names)

1492

In [22]:
len(var)

1492

In [23]:
names[186]

'Britannia International Hotel Canary Wharf'

In [24]:
names[485]

'Hotel Claridge Paris'

In [25]:
names[1476]

'Crowne Plaza London Ealing'

In [26]:
hotel.loc[hotel['Hotel_Name']=='Britannia International Hotel Canary Wharf']

,Hotel_Name,Review_Date,Reviewer_Nationality,Total_Number_of_Reviews,Negative_Review,Review_Total_Negative_Word_Counts,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Average_Score,Tags
63942,Britannia International Hotel Canary Wharf,8/3/2017,United Kingdom,9086,The car park was small and unpleasant People ...,31,The location was excellent for getting to the O2,10,3,7.9,7.1,"[' Leisure trip ', ' Group ', ' Standard Doubl..."
63943,Britannia International Hotel Canary Wharf,8/3/2017,United Kingdom,9086,We weren t told that the only spa facility op...,34,The house keeping lady made my boyfriends day...,14,3,8.3,7.1,"[' Leisure trip ', ' Couple ', ' Standard Doub..."
63944,Britannia International Hotel Canary Wharf,8/2/2017,United Kingdom,9086,I asked how far the O2 was and got told a 7 m...,38,No Positive,0,1,6.3,7.1,"[' Leisure trip ', ' Solo traveler ', ' Standa..."
63945,Britannia International Hotel Canary Wharf,8/2/2017,United Kingdom,9086,Hot stuffy room air con not working properly ...,78,The bed was OK,6,2,5.4,7.1,"[' Couple ', ' Standard Twin Room ', ' Stayed ..."
63946,Britannia International Hotel Canary Wharf,8/2/2017,United Kingdom,9086,Although the price seems like it is cheap you...,44,The Receptionists and Cleaners are very polit...,36,4,6.3,7.1,"[' Leisure trip ', ' Family with young childre..."
...,...,...,...,...,...,...,...,...,...,...,...,...
68726,Britannia International Hotel Canary Wharf,8/4/2015,Ireland,9086,Long wait for check in arrived at 6 30pm and ...,15,No Positive,0,1,6.3,7.1,"[' Business trip ', ' Group ', ' Standard Doub..."
68727,Britannia International Hotel Canary Wharf,8/4/2015,United Kingdom,9086,concierge was uninformed,5,good value for money,5,1,7.9,7.1,"[' Leisure trip ', ' Couple ', ' Standard Twin..."
68728,Britannia International Hotel Canary Wharf,8/4/2015,United Kingdom,9086,I had no complaints,5,Good location easy to park,7,1,8.3,7.1,"[' Leisure trip ', ' Group ', ' Standard Doubl..."
68729,Britannia International Hotel Canary Wharf,8/4/2015,United Kingdom,9086,Really shabby and run down hotel Needs a tota...,15,Location was great staff pretty good and it w...,12,1,5.4,7.1,"[' Leisure trip ', ' Group ', ' Executive Twin..."
68730,Britannia International Hotel Canary Wharf,8/4/2015,United Kingdom,9086,Stains on the carpet peeling wallpaper scruff...,19,Nothing,2,1,3.8,7.1,"[' Leisure trip ', ' Solo traveler ', ' Standa..."