In [19]:
import pandas as pd
df2=pd.read_csv('df2.csv',index_col=0)
df2

C:\Users\user\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

                                                    review     ratio  label
0         I am so angry that i made this post available...  0.382353      0
1                                                           1.000000      0
2         Rooms are nice but for elderly a bit difficul...  0.500000      0
3         My room was dirty and I was afraid to walk ba...  0.461538      0
4         You When I booked with your company on line y...  0.533333      0
...                                                    ...       ...    ...
1031471                                           location  1.000000      1
1031472      Breakfast was ok and we got earlier check in   0.500000      1
1031473                                                     1.000000      1
1031474   The rooms are enormous and really comfortable...  1.333333      1
1031475                               staff was very kind   1.000000      1

[1031476 rows x 3 columns]

In [9]:
#j=0
#list = []
#for i in range(len(df2.index)):
#    if df2['review'][i]!=' ':
#        list.append(df2['review'][i])
#        #print(i)
#        j+=1

In [12]:
#review가 공백인 행 삭제
df3 = df2[df2.review != ' ']

In [13]:
df3

                                                    review     ratio  label
0         I am so angry that i made this post available...  0.382353      0
2         Rooms are nice but for elderly a bit difficul...  0.500000      0
3         My room was dirty and I was afraid to walk ba...  0.461538      0
4         You When I booked with your company on line y...  0.533333      0
5         Backyard of the hotel is total mess shouldn t...  1.000000      0
...                                                    ...       ...    ...
1031470   helpful staff allowed me to check in early as...  1.000000      1
1031471                                           location  1.000000      1
1031472      Breakfast was ok and we got earlier check in   0.500000      1
1031474   The rooms are enormous and really comfortable...  1.333333      1
1031475                               staff was very kind   1.000000      1

[866608 rows x 3 columns]

In [14]:
#
from sklearn.model_selection import train_test_split
input_data=df3['ratio']
target_data=df3['label']

x_train,x_test,y_train,y_test=train_test_split(input_data,target_data)

x_train=pd.DataFrame(x_train)
y_train=pd.DataFrame(y_train)
x_test=pd.DataFrame(x_test)
y_test=pd.DataFrame(y_test)

In [15]:
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))

649956
216652
649956
216652

In [16]:
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier()
tree.fit(x_train, y_train)

print("training set accuracy:", tree.score(x_train,y_train))
print("test set accuracy:", tree.score(x_test,y_test))

training set accuracy: 0.7230535605487141
test set accuracy: 0.7226381478130828

In [17]:
from sklearn.ensemble import RandomForestClassifier
forest=RandomForestClassifier(n_estimators=5)
forest.fit(x_train, y_train)

print("training set accuracy:", forest.score(x_train,y_train))
print("test set accuracy:", forest.score(x_test,y_test))

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

training set accuracy: 0.7230489448516515
test set accuracy: 0.7226381478130828

In [18]:
predict_tree=tree.predict(x_test)
y_test['predict_tree']=predict_tree
predict_forest=forest.predict(x_test)
y_test['predict_forest']=predict_forest

y_test

         label  predict_tree  predict_forest
778547       1             1               1
906352       1             1               1
702557       1             1               1
816365       1             1               1
973801       1             0               0
...        ...           ...             ...
459341       0             0               0
249649       0             0               0
373795       0             0               0
385652       0             0               0
1011165      1             1               1

[216652 rows x 3 columns]